@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  min-height: 100vh;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(
    to right top,
    #102441,
    #1d3e62,
    #295b85,
    #327aa8,
    #3a9acc
  );
}

.todo-app {
  max-width: 650px;
  width: 100%;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app .header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.header h2 {
  text-transform: capitalize;
}
.todo-icon {
  margin-left: 10px;
  font-size: 30px;
}
.add-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
.input-box {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}
.btn {
  padding: 16px 50px;
  border-radius: 40px;
  border: none;
  background-color: #2ed573;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

ul li {
  position: relative;
  padding: 12px 8px 12px 50px;
  list-style: none;
  font-size: 17px;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
  color: #3c3c3c;
}
ul li .check-icon {
  position: absolute;
  font-size: 25px;
  top: 10px;
  left: 10px;
}
ul li.checked {
  color: #a2a2a6;
  text-decoration: line-through;
}
ul li .close-icon {
  position: absolute;
  top: 10px;
  right: 0;

  height: 40px;
  width: 40px;
  font-size: 20px;
  padding-right: 10px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
ul li button {
  border: none;
  outline: none;
  background-color: transparent;
}
ul li .close-icon:hover {
  color: #2ed573;
  transform: scale(1.1);
}
